.product{
position: absolute;
bottom: 55%;
left:18%;
}
.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    color: red;
    border-bottom: 4px solid red;
   
}
#sort{
    width: 80px;
}
.card1{
    position:relative;

      display: flex;
      flex-wrap: wrap;
      width:260px;
    bottom: 4%;
    left:6%;
    height: 135px;
    
}
.cardss{
    padding:120px;
}
.items{
    padding:100px;
}
 .img{ 
background-color: rgba(0,0,0,1.5);
} 
@media screen and (max-width :500px){
    .card1{
        position:relative;
    
          display: flex;
          flex-wrap: wrap;
          width:260px;
        bottom: 4%;
        left:5%;
        height: 150px;
        
    }
    .btn{
        margin: 1% !important;
    }
}